
* {
  font-family: "Comic Neue", "Courier New", Courier, monospace;
  font-weight: bold;
}

body {
  text-align: center;
}

.wrapper {
  min-height: 100vh;
}

.nav-items {
  list-style-type: none;
  gap: 10px;
}

.nav-items li {
  border-right: 1px solid black;
  padding-right: 10px;
}

.books li {
  display: flex;
  align-items: center;
}

.nav-items li:last-child {
  border-right: 0;
  padding-right: 0;
}

.nav-item {
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  cursor: pointer;
}

.active {
  color: blue;
}

.books {
  list-style: none;
  min-width: 300px;
  max-width: 50vw;
  margin: 0 auto 50px auto !important;
  border: black 1px solid;
  padding-left: 0 !important;
}

p {
  margin-bottom: 0 !important;
}

.books li:nth-child(odd) {
  background: rgb(212, 211, 211);
}

.remove-btn {
  height: 36px;
  box-shadow: 3px 3px 2px #888;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
}

.list-contact {
  display: inline-block;
  margin: 0 auto;
}
