
* {
  font-family: "Comic Neue", "Courier New", Courier, monospace;
  font-weight: bold;
}

body {
  text-align: center;
}

ul {
  list-style: none;
  width: 400px;
  margin: 0 auto;
  border: black 1px solid;
  padding-left: 0 !important;
}

p {
  margin-bottom: 0 !important;
}

ul li {
  display: flex;
  align-items: center;
}

ul li:nth-child(odd) {
  background:rgb(212, 211, 211);
}

.remove-btn {
  height: fit-content;
}


form {
  margin: 50px auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
}
