
* {
  font-family: "Comic Neue", "Courier New", Courier, monospace;
  font-weight: bold;
}

body {
  text-align: center;
}

ul {
  list-style: none;
  width: 400px;
  margin: 0 auto;
  border: black 1px solid;
  padding-left: 0 !important;
}

p {
  margin: 0;
  margin-bottom: 3px;
}

ul li {
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  margin-bottom: 30px;
  display: flex;
}

ul li:nth-child(even) {
  background:rgb(212, 211, 211);
}


form {
  margin: 50px auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
}
